/*
	  ==============================================================
		   BANNER WRAP
	  ==============================================================
*/
.banner {
  position: relative;
  ul {
    &.bxslider > li {
      position: relative;
      float: left;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
    li img {
      width: 100%;
      height: auto;
    }
  }
  a {
    color: $brand-primary;
    &:hover {
      color: lighten($brand-primary, 10%);
      text-decoration: underline;
    }
  }
}
.caption {
  position: absolute;
  max-width: 600px;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -558px;
  h6 {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 4px solid;
    margin: 0 0 16px;
    line-height: 15px;
    padding-left: 10px;
  }
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    margin: 0 0 8px;
    line-height: normal;
    span {
      font-weight: normal;
      display: inline-block;
    }
  }
  p {
    line-height: 30px;
    color: $white;
    margin: 0 0 32px;
    font-size: 16px;
  }
}
.bx-wrapper {
  .banner & {
    .bx-pager {
      padding: 0;
      bottom: 50px;
      left: 50%;
      // margin-left: -566px;
      text-align: left;
      width: 538px;
      &.bx-default-pager a {
        background-color: $white;
        &:hover,
        &.active {
          background-color: #8e8e91;
        }
      }
    }
    .bx-viewport {
      border: 0;
      left: 0;
      @include prefixer(box-shadow, none, webkit moz spec);
    }
  }
  .bx-controls-auto {
    bottom: 150px;
    left: 50%;
    margin-left: -566px;
    text-align: left;
    width: 538px;
  }
}