---
layout: default
---

{% include slideshow.html %}

<!--Wrapper Start-->
<div class="wrapper">

  <!--Program List Wrap Start-->
  <div class="program_bg container">
    <div class="col-md-4">
      <div class="program_list">
        <figure>
          {% include image.html src="/assets/images/program-02.jpg" alt="Denton Texas" retina=1 %}
        </figure>
        <div class="program_des">
          <h5>Community Initiatives</h5>
          <p>Current technology projects in Denton.</p>
          <a class="btn link_2" href="/community-projects">See More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="program_list">
        <figure>
          {% include image.html src="/assets/images/program-01.jpg" alt="" retina=0 %}
        </figure>
        <div class="program_des">
          <h5>Resources</h5>
          <p>Open data resource archive</p>
          <a class="btn link_2" href="/resources">See More</a>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="program_list">
        <figure>
          {% include image.html src="/assets/images/program-03.jpg" alt="" retina=0 %}
        </figure>
        <div class="program_des">
          <h5>Engaged Citizens</h5>
          <p>Contribute to open data in Denton</p>
          <a class="btn link_2" href="/get-involved">Get involved</a>
        </div>
      </div>
    </div>
  </div>
  <!--Program List Wrap Start-->

  <!--News & Press Release Wrap Start-->
  <section class="news_bg">
    <div class="container">
      <div class="hdg_1">
        <h6>Media Center</h6>
        <h4>Blogs &amp; Press Release</h4>
      </div>

      {% include post_teasers.html %}

    </div>
  </section>
  <!--News & Press Release Wrap End-->

  <!--Our Top Politician Wrap Start-->
  <section class="top_politician_bg">
    <div class="container">
      <div class="hdg_1">
        <h6>Our people</h6>
        <h4>Our Top Contributors</h4>
      </div>

      <div class="row">

        {% for author in site.data.authors limit:3 %}

        <div class="col-md-4 col-sm-6">
          <div class="politician">
            <figure>
              <img src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=300" title="{{ author.name }}" class="img-responsive img-thumbnail">
              <figcaption class="poli_img_des">
                {% if author.name %}<h6>{{ author.name }}</h6>{% endif %}
                {% if author.title %}<span>{{ author.title}}</span>{% endif %}
                {% if author.bio %}<p>{{ author.bio }}</p>{% endif %}
              </figcaption>
            </figure>
            <div class="politician_des">
              {% if author.name %}<h6>{{ author.name }}</h6>{% endif %}
              {% if author.title %}<span>{{ author.title}}</span>{% endif %}
              <ul>
                {% if author.facebook %}<li><a href="{{ author.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                {% if author.twitter %}<li><a href="{{ author.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
                {% if author.github %}<li><a href="{{ author.github }}"><i class="fa fa-github"></i></a></li>{% endif %}
                {% if author.email %}<li><a href="mailto:{{ author.email }}"><i class="fa fa-paper-plane"></i></a></li>{% endif %}
              </ul>
            </div>
          </div>
        </div>

        {% endfor %}


      </div>
    </section>
    <!--Our Top Politician Wrap End-->

    <!--Testimonial Wrap Start-->
    <!-- <section class="testimonial_bg">
      <div class="container">

        <div class="hdg_1">
          <h6>Testimonials</h6>
          <h4>What people Say About us</h4>
        </div>

        <div id="owl-demo" class="owl-carousel owl-theme testimonial_wrap">
          <div class="item">
            <div class="testi_wrap">
              <figure>
                {% include image.html src="/assets/images/testimonial-01.png" alt="" retina=0 %}
              </figure>
              <p>Thank you for all your help and assistance over the years. I would have no hesitation in voting for you guys. Thank you</p>
              <a href="#">David Andersion</a>
            </div>
          </div>

          <div class="item">
            <div class="testi_wrap">
              <figure>
                {% include image.html src="/assets/images/testimonial-02.png" alt="" retina=0 %}
              </figure>
              <p>Your assistance was one of the highlights in my campaign! Amazed by your ability to transform my thoughts into a focused message</p>
              <a href="#">Joanna Doe</a>
            </div>
          </div>

          <div class="item">
            <div class="testi_wrap">
              <figure>
                {% include image.html src="/assets/images/testimonial-01.png" alt="" retina=0 %}
              </figure>
              <p>They were involved in nearly every aspect of the campaign strategy and execution. The results exceeded my highest expectations. </p>
              <a href="#">Matt Jefferson</a>
            </div>
          </div>

          <div class="item">
            <div class="testi_wrap">
              <figure>
                {% include image.html src="/assets/images/testimonial-02.png" alt="" retina=0 %}
              </figure>
              <p>Thank you for your support and regular updates. This really is inspiring, good job! I totally love the theme. It makes my job so much easier</p>
              <a href="#">Ricky Martinez</a>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!--Testimonial Wrap End-->

  </div>
  <!--Wrapper End-->
