---
layout: default
---

{% include slideshow.html %}

<!--Wrapper Start-->
<div class="wrapper">

  <!--Program List Wrap Start-->
  <div class="program_bg">
    <div class="col-md-4">
      <div class="program_list">
        <figure>
          {% include image.html src="/assets/images/program-02.jpg" alt="Denton Texas" retina=1 %}
        </figure>
        <div class="program_des">
          <h5>Community Initiatives</h5>
          <p>Current technology projects in Denton.</p>
          <a class="btn link_2" href="/community-projects">See More</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="program_list">
        <figure>
          {% include image.html src="/assets/images/program-01.jpg" alt="" retina=0 %}
        </figure>
        <div class="program_des">
          <h5>Resources</h5>
          <p>Open data resource archive</p>
          <a class="btn link_2" href="/community-projects">See More</a>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div class="program_list">
        <figure>
          {% include image.html src="/assets/images/program-03.jpg" alt="" retina=0 %}
        </figure>
        <div class="program_des">
          <h5>Engaged Citizens</h5>
          <p>Contribute to open data in Denton</p>
          <a class="btn link_2" href="/get-involved">Get involved</a>
        </div>
      </div>
    </div>
  </div>
  <!--Program List Wrap Start-->


  <!--Welcome to Democracy Wrap Start-->
  <section class="welcome_bg">
    <div class="container">

      <ul class="tab_lnk nav nav-tabs" id="tabs" data-tabs="tabs">
        <li class="active"><a data-toggle="tab" href="#about">about</a></li>
        <li><a data-toggle="tab" href="#mission">Mission</a></li>
        <li><a data-toggle="tab" href="#vission">Vision</a></li>
        <li><a data-toggle="tab" href="#plan">Plan</a></li>
      </ul>

      <div class="wel_outr_wrap tab-content" id="my-tab-content">
        <div class="row tab-pane active" id="about">
          <div class="col-md-5">
            <div class="welcome">
              <figure>
                {% include image.html src="/assets/images/welcome-demo-01.jpg" alt="" retina=0 %}
              </figure>
            </div>
          </div>

          <div class="col-md-7">
            <div class="wel_demo_des">
              <h6>About our Group</h6>
              <h4>Welcome to Open Denton</h4>
              <p>
              </p>
              <p>Democracy means the rule of the people. Hence the rule of the people is not established until they get equal political, social and economic rights. In the west, what is publicized as democracy is not more than a limited social and political
                democracy with different phases from country to country. In these countries more money can buy more “democracy”. Anyone who can pay for the expensive election’s propaganda costs, can candidate herself or himself for different levels
                of the governing bodies. Once they have succeeded, they will enjoy the benefits of these “democracies”. that will be provided to the nationalises of that country.</p>
                <a class="link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
              </div>
            </div>

          </div>

          <div class="row tab-pane" id="mission">
            <div class="col-md-5">
              <div class="welcome">
                <figure>
                  {% include image.html src="/assets/images/welcome-demo-02.jpg" alt="" retina=0 %}
                </figure>
              </div>
            </div>

            <div class="col-md-7">
              <div class="wel_demo_des">
                <h6>About our MIssion</h6>
                <h4>Democracy Mission</h4>
                <p>Harvard University’s Institute of Politics (IOP), located at the John F. Kennedy School of Government, was established in 1966 as a memorial to President Kennedy. The IOP’s mission is to unite and engage students, particularly undergraduates,
                  with academics, politicians, activists, and policymakers on a non-partisan basis to inspire them to enter careers in politics and public service. The Institute strives to promote greater understanding and cooperation between the academic
                  world and the world of politics and public affairs.</p>
                  <a class="link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
                </div>
              </div>

            </div>

            <div class="row tab-pane" id="vission">
              <div class="col-md-5">
                <div class="welcome">
                  <figure>
                    {% include image.html src="/assets/images/welcome-demo-03.jpg" alt="" retina=0 %}
                  </figure>
                </div>
              </div>

              <div class="col-md-7">
                <div class="wel_demo_des">
                  <h6>About our Vision</h6>
                  <h4>Our Democracy Vision</h4>
                  <p>Politics and Vision: Continuity and Innovation in Western Political Thought is a work of political theory by Princeton Emeritus Professor Sheldon S. Wolin. Part One, consisting of ten chapters and first published in 1960, distinguishes
                    political philosophy from philosophy in general and traces political philosophy from its Platonic origins to modern day Part Two, consisting of seven chapters and published (along with Part One) in a 2004 expanded edition, traces the
                    development of political thought from Marx, Nietzsche, and others up to the late 20th century.</p>
                    <a class="link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>

              </div>

              <div class="row tab-pane" id="plan">
                <div class="col-md-5">
                  <div class="welcome">
                    <figure>
                      {% include image.html src="/assets/images/welcome-demo-04.jpg" alt="" retina=0 %}
                    </figure>
                  </div>
                </div>

                <div class="col-md-7">
                  <div class="wel_demo_des">
                    <h6>About our Plan</h6>
                    <h4>Our Democracy Plan</h4>
                    <p>To create a society in which an informed and active citizenry is sovereign and makes policy decisions based on the will of the majority. We will build democracy through activism and education and change the law to ensure that political
                      processes are controlled by citizens. Volunteers is the backbone of our movement. Find out more about volunteering with our party and opportunities available. We believe that our mission calls for non-traditional approaches, and we
                      call for every citizen to participate in upcoming elections.</p>
                      <a class="link_3" href="#">See More <i class="fa fa-angle-right"></i></a>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </section>
          <!--Welcome to Democracy Wrap End-->

          <!--News & Press Release Wrap Start-->
          <section class="news_bg">
            <div class="container">
              <div class="hdg_1">
                <h6>Media Center</h6>
                <h4>Blogs &amp; Press Release</h4>
              </div>

              {% include post_teasers.html %}

              <div class="press_link">
                <a class="link_2" href="#">See More</a>
              </div>

            </div>
          </section>
          <!--News & Press Release Wrap End-->

          <!--Purchase Now Wrap Start-->
          <section class="purchase_bg">
            <div class="container">
              <div class="purchase">
                <h6>See the Awesome Feature</h6>
                <h4>Be part of the Democracy theme and purchase it now</h4>
                <a class="link_2" href="#">Purchase Now</a>
              </div>
            </div>
          </section>
          <!--Purchase Now Wrap End-->

          <!--Our Top Politician Wrap Start-->
          <section class="top_politician_bg">
            <div class="container">
              <div class="hdg_1">
                <h6>Our people</h6>
                <h4>Our Top Politician</h4>
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="politician">
                    <figure>
                      {% include image.html src="/assets/images/politician-01.jpg" alt="" retina=0 %}
                      <figcaption class="poli_img_des">
                        <h6><a href="team-detail.html">ARMY Terry</a></h6>
                        <span>Vice President of Party</span>
                        <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public Management.</p>
                      </figcaption>
                    </figure>
                    <div class="politician_des">
                      <h6><a href="team-detail.html">ARMY Terry</a></h6>
                      <p>Vice President of Party</p>
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-support"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6">
                  <div class="politician">
                    <figure>
                      {% include image.html src="/assets/images/politician-02.jpg" alt="" retina=0 %}
                      <figcaption class="poli_img_des">
                        <h6><a href="team-detail.html">Sara Edward</a></h6>
                        <span>Legal State Advisor</span>
                        <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public Management.</p>
                      </figcaption>
                    </figure>
                    <div class="politician_des">
                      <h6><a href="team-detail.html">Sara Edward</a></h6>
                      <p>Adviser</p>
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-support"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12">
                  <div class="politician">
                    <figure>
                      {% include image.html src="/assets/images/politician-03.jpg" alt="" retina=0 %}
                      <figcaption class="poli_img_des">
                        <h6><a href="team-detail.html">Mark Henry</a></h6>
                        <span>Health & State Minister</span>
                        <p>2001 Graduate Columbia University in the City of New York, Department of Political Science. Author of numerous articles on Economics and Public Management.</p>
                      </figcaption>
                    </figure>
                    <div class="politician_des">
                      <h6><a href="team-detail.html">Mark Henry</a></h6>
                      <p>Minister</p>
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-support"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--Our Top Politician Wrap End-->

      <!--Latest Blog Post Wrap Start-->
      <section class="latest_outer_wrap">
        <div class="container">
          <div class="hdg_1">
            <h6>Featured Post</h6>
            <h4>Latest Blog Posts</h4>
          </div>

          <div class="row latst_post_lst">
            <div class="col-md-6">

              {% for post in site.posts limit:1 %}
                <li class="latest_blog">
                  <figure>
                    {% include image.html src="/assets/images/blog-01.jpg" alt="" retina=0 %}
                  </figure>
                  <h6>{{ post.category }}</h6>
                  <div class="latest_blog_des">
                    <h6> <a href="{{ post.url }}">{{ post.title }}</a></h6>
                    <ul>
                      <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                      {% if post.author %}
                      <li><a href="#"><i class="fa fa-pencil-o"></i> Nanoevil</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </li>
              {% endfor %}

            </div>

            <div class="col-md-6">
              <div class="latest_blog blog_style2">
                <figure>
                  {% include image.html src="/assets/images/blog-02.jpg" alt="" retina=0 %}
                </figure>
                <h6>CULTURE</h6>
                <div class="latest_blog_des">
                  <h6> <a href="#">Citizens will sleep peacefully at night </a></h6>
                  <ul>
                    <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                    <li><a href="#"><i class="fa fa-heart-o"></i> 33+</a></li>
                    <li><a href="#"><i class="fa fa-heart-o"></i> Nanoevil</a></li>
                  </ul>
                </div>
              </div>

              <div class="latest_blog">
                <figure>
                  {% include image.html src="/assets/images/blog-03.jpg" alt="" retina=0 %}
                </figure>
                <h6>CULTURE</h6>
                <div class="latest_blog_des">
                  <h6> <a href="#">Economic plan for the next decade</a></h6>
                  <ul>
                    <li><a href="#"><i class="fa fa-comment-o"></i> 12+</a></li>
                    <li><a href="#"><i class="fa fa-heart-o"></i> 33+</a></li>
                    <li><a href="#"><i class="fa fa-heart-o"></i> Nanoevil</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!--Latest Blog Post Wrap End-->


      <!--Testimonial Wrap Start-->
      <section class="testimonial_bg">
        <div class="container">

          <div class="hdg_1">
            <h6>Tesitmoinals</h6>
            <h4>What poeple Say About us</h4>
          </div>

          <div id="owl-demo" class="owl-carousel owl-theme testimonial_wrap">
            <div class="item">
              <div class="testi_wrap">
                <figure>
                  {% include image.html src="/assets/images/testimonial-01.png" alt="" retina=0 %}
                </figure>
                <p>Thank you for all your help and assistance over the years. I would have no hesitation in voting for you guys. Thank you</p>
                <a href="#">David Andersion</a>
              </div>
            </div>

            <div class="item">
              <div class="testi_wrap">
                <figure>
                  {% include image.html src="/assets/images/testimonial-02.png" alt="" retina=0 %}
                </figure>
                <p>Your assistance was one of the highlights in my campaign! Amazed by your ability to transform my thoughts into a focused message</p>
                <a href="#">Joanna Doe</a>
              </div>
            </div>

            <div class="item">
              <div class="testi_wrap">
                <figure>
                  {% include image.html src="/assets/images/testimonial-01.png" alt="" retina=0 %}
                </figure>
                <p>They were involved in nearly every aspect of the campaign strategy and execution. The results exceeded my highest expectations. </p>
                <a href="#">Matt Jefferson</a>
              </div>
            </div>

            <div class="item">
              <div class="testi_wrap">
                <figure>
                  {% include image.html src="/assets/images/testimonial-02.png" alt="" retina=0 %}
                </figure>
                <p>Thank you for your support and regular updates. This really is inspiring, good job! I totally love the theme. It makes my job so much easier</p>
                <a href="#">Ricky Martinez</a>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!--Testimonial Wrap End-->

    </div>
    <!--Wrapper End-->

    {% include contact-us.html %}
