<!-- Breaking News -->
<div class="breaking_news_container container">
	<div class="breaking_news">
		<div class="breaking_hdg">
			<h6>Community Updates</h6>
		</div>
		<div class="brekg_news_des">
			<div class="bxslider">
				{% for update in site.data.community_updates %}
				{% capture target %}{% if update.target %}{{ update.target }}{% else %}_self{% endif %}{% endcapture %}
				<div class="item">
					{% if update.title %}
					{% if update.link %}
					<a href="{{ update.link }}" target="{{ target }}">{{ update.title }}</a>
					{% else %}
					{{ update.title }}
					{% endif %}
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>