<!--Contact With Us Wrap Start-->
<section class="contact_bg">
  <div class="container">
    <div class="hdg_2">
      <h6>Tesitmoinals</h6>
      <h4>Contact With Us</h4>
    </div>

    <div class="row">
      <!--Contact Us Field Wrap Start-->
      <div class="col-md-8">
        <div class="contact_wrap">
          <h5>contact us fields</h5>
          <div class="row">
            <form method="post" class="comments-form" id="contactform">
              <div class="col-md-6">
                <div class="contact_field">
                  <input type="text" name="name" placeholder="Your Name">
                </div>
              </div>

              <div class="col-md-6">
                <div class="contact_field">
                  <input type="text" name="email" placeholder="Your Email">
                </div>
              </div>

              <div class="col-md-6">
                <div class="contact_field">
                  <input type="text" placeholder="Your Phone">
                </div>
              </div>

              <div class="col-md-6">
                <div class="contact_field">
                  <input type="text" placeholder="Your Subject">
                </div>
              </div>

              <div class="col-md-12">
                <div class="contact_field">
                  <textarea name="message" placeholder="Your Message"></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <div class="contact_field">
                  <button>Sent Now</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--Contact Us Field Wrap End-->

      <!--Contact Info Wrap Start-->
      <div class="col-md-4">
        <div class="contact_info contact_wrap">
          <h5>Email Address</h5>
          <i class="fa fa-envelope-o"></i>
          <div class="contact_des">
            <span><a href="#">info@opendenton.com</a></span>
          </div>
        </div>

        <div class="contact_info contact_wrap">
          <h5>Phone</h5>
          <i class="fa fa-phone"></i>
          <div class="contact_des">
            <span>(770) 123 566 7899</span>
            <span>(770) 123 566 7899</span>
          </div>
        </div>

        <div class="contact_info contact_wrap">
          <h5>Email Address</h5>
          <i class="fa fa-map-marker"></i>
          <div class="contact_des">
            <span>414, new tow, 121 street</span>
            <span>United Kingdom</span>
          </div>
        </div>

      </div>
      <!--Contact Info Wrap End-->

    </div>

  </div>
</section>
<!--Contact With Us Wrap End-->
