<!--Footer Wrap Start-->
<footer>
  <div class="newsletter_bg">
    <div class="container">
      <div class="newsletter_des">
        <h5>Subcribe To Our</h5>
        <h3>Newsletter</h3>
      </div>
      <div class="newsletter_form">
        <!-- The old one.. -->
        <!-- <form>
          <input class="placeholder2" type="text" placeholder="Enter your Place Holder Here">
          <button><i class="fa fa-send"></i></button>
        </form> -->

        <!-- The new one.. -->
        <div id="mc_embed_signup"> <!-- Begin MailChimp Signup Form -->
          <form action="//opendenton.us11.list-manage.com/subscribe/post?u=61cd7acaf9197fccca3429a68&amp;id=0ae2e41371" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email placeholder2" id="mce-EMAIL" placeholder="Enter your email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                 <input type="text" name="b_55d95b1c19463ef19cb204ca1_d1a136ed9d" tabindex="-1" value="">
              </div>
                 <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" placeholder="Subscribe"><i class="fa fa-send"></i></button>
            </div>
          </form>
        </div> <!--End mc_embed_signup-->
      </div>
    </div>
  </div>

  <div class="footer_bg">
    <div class="container">
      <!--Footer Logo Wrap Start-->
      <div class="footer_logo">
        <figure>
          <a href="#">
            {% include image.html src="/assets/images/footer-logo.png" alt="Open Denton" retina=1 %}
          </a>
        </figure>
        <ul>
          {% if site.facebook_username %}
          <li><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
            <span class="fa fa-facebook"></span>
          </a></li>
          {% endif %}
          {% if site.twitter_username %}
          <li><a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa fa-twitter"></span>
          </a></li>
          {% endif %}
          {% if site.github_username %}
          <li><a href="https://github.com/{{ site.github_username }}" target="_blank">
            <span class="fa fa-github"></span>
          </a></li>
          {% endif %}
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            <span class="fa fa-rss"></span>
          </a></li>
          <li><a href="mailto:info@opendenton.com"><i class="fa fa-support"></i></a></li>
        </ul>
      </div>
      <!--Footer Logo Wrap End-->

      <!--Footer Widget Wrap Start-->
      <div class="widgt_outr_wrap">
        <div class="row">
          <div class="col-md-3">
            <div class="widgt_touch widget_hdg">
              <h5>Get in touch</h5>
              <p>We're always open to new initiatives in the community.</p>
              <ul>
                <li>
                  <i class="fa fa-map-marker"></i>
                  <div class="widgt_des">
                    Any Coffee Shop in Town
                    <span> Denton, Texas </span>
                  </div>
                </li>

                <!-- <li>
                  <i class="fa fa-phone"></i>
                  <div class="widgt_des">
                    + 36595-54555
                  </div>
                </li> -->

                <li>
                  <i class="fa fa-envelope"></i>
                  <div class="widgt_des">
                    <a href="mailto:info@opendenton.com">info@opendenton.com</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3">
            <div class="widgt_tweets widget_hdg">
              <h5>Twitter Feed</h5>
              <a href="https://twitter.com/opendenton" class="twitter-timeline" data-widget-id="602749167597785088" height="250" data-chrome="noheader nofooter noborders noscrollbar transparent" data-tweet-limit="2" data-aria-polite="polite">Tweets by OpenDenton</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
            </div>
          </div>

          <div class="col-md-3">
            <div class="widgt_event widget_hdg">
              <h5>Recent Events</h5>
              <ul>
                <li>
                  <figure>
                    <a href="#">
                      {% include image.html src="/assets/images/footer-event-01.jpg" alt="Open Denton" retina=0 %}
                    </a>
                  </figure>
                  <div class="foo_event_des">
                    <a href="#" id="event-name-1">Description of an upcoming thing!</a>
                    <span id="event-date-1">2 October 2015</span>
                  </div>
                </li>

                <li>
                  <figure>
                    <a href="#">
                      {% include image.html src="/assets/images/footer-event-01.jpg" alt="" retina=0 %}
                    </a>
                  </figure>
                  <div class="foo_event_des">
                    <a href="#" id="event-name-2">Description of an upcoming thing!</a>
                    <span id="event-date-2">2 October 2015</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3">
            <div class=" widget_hdg">
              <h5>Gallery Image</h5>
              <ul id="instagram-gallery" class="row">
              </ul>
            </div>
          </div>


        </div>
      </div>
      <!--Footer Widget Wrap End-->

      <!--Footer Site map Wrap Start-->
      <div class="site_map">
        <ul>
          {% for nav in site.data.navigation %}
            <li class=""><a href="{{ nav.url }}">{{ nav.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <!--Footer Site map Wrap End-->

      <!--Copy Right Wrap Start-->
      <div class="copyright">
        <p>Copyright © Open Denton {{ site.time | date: '%y' }}
        </p>
        <a class="back-top" href="#"><i class="fa fa-angle-up"></i></a>
      </div>
      <!--Copy Right Wrap End-->

    </div>
  </div>

</footer>
<!--Footer Wrap End-->
