<!--Banner Wrap Start-->
<div class="banner">
  <ul class="bxslider">
    <li>
      <img src="{{ "/assets/images/banner/banner-01.jpg" | prepend: site.baseurl }}" data-at2x="{{ "/assets/images/banner/banner-01@2x.jpg" | prepend: site.baseurl }}" alt="Startup Weekend Denton">
      <div class="caption">
        <h6>Politics</h6>
        <h2>The Power Of
          <span> Your Voice </span>
        </h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          <span>totam rem aperiam, eaque ipsa quae abillo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
        </p>
        <a class="link_1" href="#">See More <i class="fa fa-angle-right"></i></a>
      </div>
    </li>

    <li>
      <img src="{{ "/assets/images/banner/banner-02.jpg" | prepend: site.baseurl }}" data-at2x="{{ "/assets/images/banner/banner-02@2x.jpg" | prepend: site.baseurl }}" alt="Bootstrap Denton">
      <div class="caption">
        <h6>Politics</h6>
        <h2>The Power Of<span> Your Voice </span></h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          <span>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
        </p>
        <a class="link_1" href="#">See More <i class="fa fa-angle-right"></i></a>
      </div>
    </li>

    <li>
      <img src="{{ "/assets/images/banner/banner-03.jpg" | prepend: site.baseurl }}" data-at2x="{{ "/assets/images/banner/banner-03@2x.jpg" | prepend: site.baseurl }}" alt="Open Hack">
      <div class="caption">
        <h6>Politics</h6>
        <h2>The Power Of<span> Your Voice </span></h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
          <span>totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
        </p>
        <a class="link_1" href="#">See More <i class="fa fa-angle-right"></i></a>
      </div>
    </li>
  </ul>

  {% include breaking-news.html something="this is definitely something" %}

</div>
<!--Banner Wrap End-->
