/*
	  ==============================================================
		   WELCOME TO Open Denton WRAP CSS START
	  ==============================================================
*/

ul.tab_lnk {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 104px;

  &.nav-tabs {
  	> li.active {
  		> a {
  			&, &:focus, &:hover {
  				border: 0;
  			}
  		}
  	}
  }

  .welcome_bg & {
    margin-bottom: 85px;
    border: 0;
  }
  li {
    position: relative;
    display: inline-block;
    &.active, &:hover, &:active, &:focus {
      a {
        border-color: transparent;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 1px;
      opacity: 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 1px;
      opacity: 0;
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      width: 0;
      opacity: 0;
    }
    a {
      display: block;
      color: #999999;
      padding: 10px 15px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &.active:before,
    &:hover:before {
      opacity: 1;
      width: 50px;
    }
    &.active:after,
    &:hover:after {
      opacity: 1;
      width: 40px;
    }
  }
}
/*Image Wrap Style*/
.wel_outr_wrap {
  float: left;
  width: 100%;
  margin-bottom: 25px;
}
.welcome {
  float: left;
  width: 100%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -35px;
    left: -58px;
    width: 100%;
    height: 100%;
    border: 9px solid #27282d;
    background-color: #fff;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    border: 3px solid #dfdfdf;
    height: 110%;
    left: -28px;
    top: -24px;
    width: 100%;
    z-index: -2;
  }
  figure img {
    width: 100%;
    height: auto;
  }
}
/*Image Description Wrap Start*/
.wel_demo_des {
  float: left;
  width: 100%;
  margin-top: 17px;
  h6 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 14px;
    letter-spacing: 2px;
  }
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 20px;
    position: relative;
    line-height: 24px;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70px;
      height: 3px;
      background-color: #000000;
    }
  }
  p {
    line-height: 29px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #666;
  }
}
ul.tab_lnk.nav > li > a {
  &:focus,
  &:hover {
    background: none;
  }
}
.wel_demo_des a.link_3:hover {
  color: #fff;
}
/*About US Welcome*/
.about_welcome {
  padding: 95px 0 85px;
  a.link_3:hover i {
    color: #fff;
  }
}