footer {
  float: left;
  width: 100%;
}

/*
	  ==============================================================
		   FOOTER NEWS LETTER CSS START
	  ==============================================================
*/

.newsletter_bg {
  float: left;
  width: 100%;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -46px;
    left: -57px;
    width: 43%;
    height: 141%;
    background-color: $brand-secondary;
    transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
  }
  .container {
    position: relative;
    z-index: 99999;
  }
}

.newsletter_des {
  float: left;
  text-align: right;
  padding-left: 50px;
  padding-top: 5px;
  h5 {
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 8px;
  }
  h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
  }
}

/*Form Style*/

.newsletter_form {
  float: right;
  padding: 30px;
  form {
    width: 650px;
    position: relative;
    input[type="text"] {
      width: 100%;
      height: 53px;
      background-color: #fff;
      border: 0px;
      padding: 8px 62px 8px 15px;
      color: #939393;
    }
    button {
      color: #fff;
      padding: 14px 15px;
      position: absolute;
      right: 5px;
      top: 5px;
      line-height: 16px;
      &:hover {
        background-color: $brand-secondary;
      }
    }
  }
}

/*
	  ==============================================================
		   FOOTER NEWS LETTER CSS END
	  ==============================================================
*/

/*
	  ==============================================================
		   FOOTER WIDGET CSS START
	  ==============================================================
*/

.footer_bg {
  float: left;
  width: 100%;
  background-color: #1a1a1a;
}

/*Footer Logo Style*/

.footer_logo {
  padding: 40px 0 44px;
  border-bottom: 1px solid #2a2a2a;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #2a2a2a;
  }
  float: left;
  width: 100%;
  text-align: center;
  ul {
    float: left;
    width: 100%;
    text-align: center;
  }
  figure {
    margin-bottom: 40px;
  }
  > a {
    display: block;
  }
  ul li {
    display: inline-block;
    position: relative;
    padding: 0px 4px;
    a {
      display: block;
      width: 33px;
      height: 33px;
      border-radius: 100%;
      background-color: #313131;
      line-height: 33px;
      color: #fff;
    }
    &:hover a {
      color: #fff;
    }
  }
}

/*Widget Wrap Style*/

.widgt_outr_wrap {
  border-bottom: 1px solid #2a2a2a;
  padding: 41px 0 28px;
}

.widget_hdg, .widgt_outr_wrap {
  float: left;
  width: 100%;
}

.widget_hdg h5 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin-bottom: 35px;
  position: relative;
  line-height: 20px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 50px;
    height: 1px;
    background-color: $brand-secondary;
  }
}

.widgt_touch {
  p {
    color: #919191;
    line-height: 20px;
    margin-bottom: 10px;
  }
  ul {
    float: left;
    width: 100%;
  }
}

.widgt_tweets ul, .widgt_event ul, .foo_gallery ul {
  float: left;
  width: 100%;
}

.widgt_touch ul li {
  float: left;
  position: relative;
  color: #919191;
  padding: 10px 0px;
  i {
    float: left;
    width: 20px;
    padding-top: 5px;
  }
}

.widgt_tweets ul li i {
  float: left;
  width: 20px;
  padding-top: 5px;
}

.widgt_des {
  float: none;
  padding: 0px 0px 0px 30px;
  font-size: 15px;
  a {
    display: inline-block;
  }
  span {
    display: block;
  }
}

/*Widget 2 style*/

.widgt_tweets ul li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #2a2a2a;
  color: #808080;
  padding: 10px 0px;
}

.widgt_des a {
  display: inline-block;
  color: $brand-primary;
}

.widgt_tweets ul li .widgt_des span {
  padding-top: 5px;
  line-height: 18px;
}

.widgt_des p {
  margin-top: 15px;
  margin-bottom: 0px;
}

.widgt_tweets ul li:first-child {
  padding-top: 0px;
}

/*Widgets 3 Style*/

.widgt_event ul li {
  float: left;
  width: 100%;
  padding: 20px 0px;
  figure {
    width: 58px;
    &:before {
      content: "";
      position: absolute;
      bottom: -26px;
      left: -10px;
      width: 110%;
      height: 50%;
      background-color: #1a1a1a;
      transform: rotate(20deg);
    }
    &:after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: 9px;
      width: 110%;
      height: 4px;
      transform: rotate(20deg);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.foo_event_des {
  float: none;
  padding: 0px 0px 0px 75px;
  a {
    color: #fff;
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 22px;
  }
  span {
    display: block;
    font-size: 13px;
    color: #8e8e8e;
  }
}

.widgt_event ul li:first-child {
  padding-top: 0px;
}

/*Widget 4 Style*/

.foo_gallery ul li {
  float: left;
  margin: 0px 7px 10px 0px;
  a {
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  &:hover a img {
    opacity: 0.5;
  }
}

/*Site map Style*/

.site_map {
  border-bottom: 1px solid #2a2a2a;
  padding: 35px 0;
  float: left;
  width: 100%;
  text-align: center;
  ul {
    float: left;
    width: 100%;
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        text-transform: uppercase;
        color: #fff;
        padding: 0px 22px;
        line-height: 14px;
      }
    }
  }
}

/*
	  ==============================================================
		   FOOTER WIDGET CSS END
	  ==============================================================
*/

/*
	  ==============================================================
		   COPY RIGHT WIDGET CSS START
	  ==============================================================
*/

.copyright {
  float: left;
  width: 100%;
  padding: 30px 0px;
  p {
    margin: 0px;
    float: left;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    padding-top: 6px;
  }
  span a {
    display: inline-block;
    color: #9c9c9c;
  }
  > a {
    float: right;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 26px;
    color: #fff;
    background-color: #222222;
    line-height: 48px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    &:hover {
      color: #fff;
    }
  }
}

/*
	  ==============================================================
		   COPY RIGHT WIDGET CSS END
	  ==============================================================
*/

/*
	  ==============================================================
		   ASIDE ABR WRAP CSS START
	  ==============================================================
*/

.aside {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  h5 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px;
    line-height: normal;
  }
}

/*Aside Search*/

.aside_search {
  margin-bottom: 40px;
  position: relative;
  float: left;
  width: 100%;
  form {
    position: relative;
    float: left;
    width: 100%;
    input {
      &[type="text"] {
        width: 100%;
        height: 58px;
        background-color: #fff;
        border: 1px solid #e1e0e0;
        padding: 15px 60px 15px 20px;
      }
      &[type="submit"] {
        position: absolute;
        background: none;
        color: #929292;
        top: 18px;
        right: 30px;
      }
    }
    button {
      position: absolute;
      background: none;
      color: #929292;
      top: 18px;
      right: 30px;
    }
    input[type="text"]:hover {
      box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.15);
    }
  }
}

/*Aside Category*/

.aside_cat {
  background-color: #f7f7f7;
  ul {
    float: left;
    width: 100%;
    padding: 10px 30px 13px;
    li {
      float: left;
      width: 100%;
      position: relative;
    }
  }
}

.aside_event ul li {
  float: left;
  width: 100%;
  position: relative;
}

.aside_cat ul li {
  a {
    display: block;
    color: #a8a8a8;
    padding: 15px 0px;
    border-bottom: 1px solid #d8d6d6;
    font-size: 18px;
    line-height: normal;
    text-transform: capitalize;
  }
  &:last-child a {
    border-bottom: 0px;
  }
  &:hover a {
    padding-left: 10px;
  }
}

/*Recent Events*/

.aside_event {
  position: relative;
  ul {
    padding: 40px;
    float: left;
    width: 100%;
    li {
      padding: 30px 0px 28px;
      border-bottom: 1px solid #d8d6d6;
      figure {
        margin-bottom: 20px;
        &:before {
          content: "";
          position: absolute;
          top: 0px;
          bottom: 0px;
          right: 0px;
          left: 0px;
          width: 0;
          height: 0;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.6);
        }
        img {
          width: 100%;
          height: auto;
        }
        figcaption {
          position: absolute;
          top: -50px;
          width: 100%;
          text-align: center;
          margin-top: -20px;
          opacity: 0px;
          a {
            font-size: 20px;
            color: #fff;
            padding: 0px 8px;
          }
        }
      }
    }
  }
}

.aside_event_des {
  float: left;
  width: 100%;
  padding: 0px 10px;
  text-align: center;
  p {
    color: #a9a9a9;
    word-break: break-all;
  }
  span {
    color: #000000;
    display: block;
    b {
      font-weight: normal;
    }
  }
}

.aside_event ul li {
  &:first-child {
    padding-top: 0px;
  }
  &:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  &:hover figure {
    &:before {
      width: 96%;
      height: 94%;
    }
    figcaption {
      opacity: 1;
      top: 50%;
    }
  }
}

/*Hover Style*/

/*Aside Video Wrap*/

.aside_video {
  .video_icon {
    a {
      line-height: 5px;
      i {
        margin-left: -4px;
      }
    }
    margin: 0px;
  }
  figure:hover .video_icon {
    opacity: 1;
  }
}

/*Aside Flicker Gallery*/

.aside_flicker {
  box-shadow: none;
  ul {
    float: left;
    width: 100%;
    margin-top: 10px;
    li {
      float: left;
      position: relative;
      border: 5px solid #d8d8d8;
      width: 32%;
      margin: 0px 4px 5px 0px;
      a {
        display: block;
      }
      figure {
        &:before {
          content: "";
          position: absolute;
          height: 60%;
          width: 130%;
          bottom: -20px;
          right: -80px;
          transform: rotate(-36deg);
          opacity: 0;
        }
        img {
          width: 100%;
          height: auto;
        }
        figcaption {
          position: absolute;
          bottom: -50px;
          right: 25px;
          font-size: 20px;
          opacity: 0;
          i {
            color: #fff;
            width: 100%;
          }
        }
      }
      &:hover figure {
        figcaption {
          bottom: 12px;
          opacity: 1;
        }
        &:before {
          right: -38px;
          opacity: 1;
        }
      }
    }
  }
}

/*Hover style*/

/*
	  ==============================================================
		   ASIDE ABR WRAP CSS END
	  ==============================================================
*/

/*
	  ==============================================================
		   EVENT DETAIL ASIDE ABR WRAP CSS START
	  ==============================================================
*/

.aside_map, .aside_organizer, .aside_gallery, .aside_related {
  border: 1px solid #dddddd;
  margin-bottom: 40px;
}

.aside_map {
  text-align: center;
}

.aside_map_des, .aside_org_des {
  float: left;
  width: 100%;
  position: relative;
}

.aside_map .map-canvas {
  width: 100%;
  float: left;
  height: 300px;
}

.aside_map_des {
  padding: 20px;
  p {
    color: #8a8a8a;
    line-height: 10px;
  }
  span {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 100%;
    top: -15px;
    margin-left: -25px;
    line-height: 22px;
  }
}

/*Aside Organizer*/

.aside_hdg {
  float: left;
  width: 100%;
  > h6 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    padding: 20px;
  }
}

.aside_org_des {
  float: left;
  width: 100%;
  padding: 30px;
  p {
    word-break: break-all;
  }
}

.aside_contnt, .aside_org_scl {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.aside_contnt li {
  float: left;
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #999999;
  padding: 10px 0px;
  line-height: 15px;
  i {
    margin-right: 10px;
  }
}

.aside_org_scl {
  margin-bottom: 20px;
  li {
    float: left;
    position: relative;
    a {
      padding: 0px 10px;
      font-size: 18px;
      color: #999999;
    }
    &:first-child a {
      padding-left: 0px;
    }
  }
}

.aside_org_des {
  a h6 {
    display: inline-block;
    float: left;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    display: block;
    color: #fff;
    text-transform: uppercase;
    line-height: normal;
  }
  > a h6:hover {
    background-color: #000000;
  }
}

/*Event Gallery Wrap Style*/

.aside_gallery ul {
  padding: 30px 30px 20px 30px;
  float: left;
  width: 100%;
  li {
    float: left;
    position: relative;
    margin: 0px 10px 10px 0px;
    width: 48.3%;
    a {
      display: block;
      img {
        width: 100%;
      }
    }
    &:nth-child(even) {
      margin-right: 0px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

/*Related Event Style*/

.aside_related {
  ul {
    float: left;
    width: 100%;
  }
  > ul > li {
    float: left;
    position: relative;
    padding: 30px;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    &:last-child {
      border-bottom: 0px;
    }
  }
}

/*HOVER EFFECT OF RELATED EVENTS*/

.event_list figure {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  }
  img {
    width: 100%;
    height: auto;
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
  }
}

.aside_related ul li:hover img {
  opacity: 0.3;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.event_list:hover {
  img {
    opacity: 0.3;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  figure:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  }
}

/*VIDEO WRAP STYLE START*/

.aside_video {
  float: left;
  width: 100%;
  position: relative;
  figure:before {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 0px;
    height: 0px;
  }
  &:hover figure:before {
    width: 100%;
    height: 100%;
  }
  figure {
    img {
      width: 100%;
      height: auto;
    }
    figcaption {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 38%;
      a {
        display: inline-block;
        line-height: 45px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 3px solid #fff;
        font-size: 24px;
        color: #fff;
        text-align: center;
        opacity: 0;
      }
    }
    &:hover figcaption a {
      opacity: 1;
    }
  }
}

/*
==============================================================
		  			EVENT CALENDER WIDGET
==============================================================
*/

.calender {
  float: left;
  width: 100%;
  .fc-toolbar {
    padding: 18px 20px;
    margin-bottom: 0px;
    position: relative;
    h2 {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      left: 0px;
      width: 100%;
    }
  }
  .fc-right {
    button {
      background: none;
      border: none;
      box-shadow: none;
      padding: 0px;
      color: #fff;
      text-transform: uppercase;
      text-shadow: none;
    }
    .fc-today-button {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0px;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      padding: 10px 15px;
    }
  }
}

.volunteer_btn a:hover {
  opacity: 0.9;
}
