---
layout: default
---

<!--Bread Crumb Wrap Start-->
{% if page.image %}
  {% capture img_src %}/assets/images/{{ page.image }} {% endcapture %}
  <div class="about_bg" style="background-size: cover; background-image: url({{ img_src }});padding: 60px 0">
{% else %}
  <div class="about_bg">
{% endif %}
	<div class="container">
    	<div class="aboutus_wrap">
        	<h1>{{ page.title }}</h1>
            <!-- <div class="bread_crumb">
            	{% include breadcrumb.html %}
            </div> -->
        </div>
    </div>
</div>
<!--Bread Crumb Wrap Start-->

<article class="page">

  <div class="content">
		<div class="container">
      <section>
        {{ content }}
      </section>
		</div>
  </div>

</article>
